#overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

body{
    background: transparent !important;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#exampleModal{
    background: transparent !important;
}

#exampleModal .modal-header {
    border-bottom: none;
}

#exampleModal .modal-content {
    border: none;
    border-radius: 0;
}


#exampleModal .modal-body {
    background-image: url(tela1/tela01_fundo-base.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 800px;
}


.main-character, .btn-escolhe, .title-image,
.arrow-left, .arrow-right, .janela-calca,
.janela-camisa, .janela-acessorio, .janela-chapeu,
.janela-calcado {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}

.modal-backdrop {
    background-color: transparent !important;
}

.main-character {
    background-image: url(tela1/galeria/tela01_homem-01.png);
    height: 450px;
    width: 100%;
}

.title-image {
    background-image: url(tela1/tela01_sala-das-profissoes.png);
    /* background-size: auto; */
    height: 100px;
    /* width:100%; */
}

.btn-escolhe {
    background-image: url(tela1/tela01_escolher-personagem.png);
    height: 100px;
    cursor: pointer;
}

.arrow-left {
    background-image: url(tela1/tela01_seta-esquerda.png);
    background-position: center;
    cursor: pointer;
    height: 50px;
    width: 80%;
}


.arrow-right {
    background-image: url(tela1/tela01_seta-direita.png);
    background-position: center;
    cursor: pointer;
    height: 50px;
    width: 80%;
}

.arrow-col {
    display: flex;
    align-items: center;
}

.janela-g {
    height: 275px;
}

.janela-p {
    height: 175px;
}

.janela-calca {
    background-image: url(tela2/janela-calca.png);
}

.janela-camisa {
    background-image: url(tela2/janela-camisa.png);
}

.janela-acessorio {
    background-image: url(tela2/janela-acessorios.png);
}

.janela-chapeu {
    background-image: url(tela2/janela-chapeu.png);
}

.janela-calcado {
    background-image: url(tela2/janela-calcado.png);
}

.btn-voltar {
    /* background-image:url(tela2/voltar.png);
    height: 30px;
    background-position: center left; */
    cursor: pointer;
    width: 100px;
    padding-left: 10px;
}

.btn-salvar {
    /* background-image:url(tela2/salvar.png);
    height: 50px;*/
    cursor: pointer;
    width: 175px;
}

.back-save {
    padding-left: 50px !important;
}


#camisa-on, #calca-on, #chapeu-on, #calcado-on,
#acessorio-on, .calca, .camisa, .galeria-homem,
.galeria-mulher, .acessorio, .chapeu, .calcado {
    position: absolute;
}

/* galeria mulher positions */

.gmulher-active #calca-on {
    bottom: -26px ;
    left: 0px ;
    z-index: 1;
}


.gmulher-active #calca-on.calca-astro {
    bottom: -4px !important;
    left: -2px !important;
}

.gmulher-active #camisa-on {
    left: 0px !important;
    bottom: -28px;
}

.gmulher-active #calcado-on {
    bottom: -29px !important;
    left: 0;
}

.gmulher-active #chapeu-on {
    top: -46px !important;
    left: 0px;
}

.gmulher-active #acessorio-on {
    bottom: -28px;
    z-index: 2;
}

/* galeria homem positions */
.ghomem-active #calca-on {
    bottom: -40px;
    left: 0px;
    z-index: 1;
}

.ghomem-active #camisa-on {
    left: 0;
    bottom: -40px;
}

.ghomem-active #calcado-on {
    bottom: -38px;
    left: 0;
    z-index: 0
}

.ghomem-active #chapeu-on {
    top: -36px;
    left: 0px;
    z-index: 3;
}

.ghomem-active #acessorio-on {
    bottom: -38px;
    z-index: 2;
}




#calca-box, #camisa-box, #acessorios-box,
#chapeu-box, #calcado-box {
    width: 190px;
    cursor: pointer;
}

.seta-esquerda, .seta-direita {
    width: 15px;
    position: absolute;
    bottom: 100px;
    cursor: pointer;
    z-index: 9999;
}

.seta-direita {
    right: 2px;
}

.select {
    position: absolute;
    /*width: 138px;*/
    /*height: 36px;*/
    z-index: 99999;
    bottom: 12px;
    left: 37px;
    cursor: pointer;
}

/* #char {
    width: 240px;
} */


.calca, .camisa, .acessorio, .chapeu,
.calcado {
    right: 0;
    top: 0;
    display: none;
}


.mobile-selector {
    width: 150px !important;
    z-index: 99999;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


    .btn-escolhe {
        height: 80px;
        position: relative;
        bottom: 35px;
    }

    #camisa-on, #calca-on, #chapeu-on, #calcado-on,
    #acessorio-on, #char {
        width: 250px;
    }

    #calca-box, #camisa-box, #chapeu-box,
    #acessorios-box, #calcado-box {
        width: 120px !important;
    }

    .calca, .camisa, .acessorio,
    .chapeu, .calcado {
        right: 5px !important;
        top: 2px;
        width: 110px !important;
    }

    .seta-esquerda, .seta-direita {
        bottom: 50px !important;
    }

    .seta-direita {
        right: -3px !important;
    }

    .seta-esquerda.seta-calcado, .seta-esquerda.seta-chapeu  {
        height: 80px;
        bottom: 20px !important;
        z-index: 99999;
    }
    .seta-direita.seta-calcado, .seta-direita.seta-chapeu {
        bottom: 20px !important;
        right: -4px !important;
        height: 80px;
        z-index: 99999;
    }

    .mobile-selector {
        width: 100px !important;
        padding: 0 !important;
    }

    .mobile-buttons {
       bottom: 95px !important;
    }

    .galeria-calcado, .galeria-chapeu {
        left: 2px !important;
        top: 285px !important;
        bottom: unset !important;
    }

    #tela02 .title-image {
        padding: 0px;
        width: 300px;
        margin-top: 0px !important;
    }

    #exampleModal .modal-body {
        height: 700px;
    }

    .btn-salvar {
        width: 140px;
    }

    .galeria-acessorio, .galeria-calca, .galeria-camisa {
        top: 240px !important;
        left: 5px !important;
    }

    .main-char-area {
        top: 120px !important;
        right: -25px !important;
    }

    .back-save {
        bottom: 665px !important;
    }

    /* galeria homem positions */
    .ghomem-active #calca-on {
        bottom: -30px;
        left: 0px;
        z-index: 1;
    }

    .ghomem-active #camisa-on {
        left: 0;
        bottom: -30px;
    }

    .ghomem-active #calcado-on {
        bottom: -32px;
        left: 0;
        z-index: 0
    }

    .ghomem-active #chapeu-on {
        top: -28px;
        left: 0px;

    }

    .ghomem-active #acessorio-on {
        bottom: -30px;

    }

    .gmulher-active #camisa-on {
        bottom: -23px;
    }

    .gmulher-active #calca-on.calca-astro {
        bottom: -1px !important;
        left: -1px !important;
    }

    .gmulher-active #calca-on {
        bottom: -19px;
        left: -1px;
    }

    .gmulher-active #chapeu-on {
        top: -31px !important;
    }

    .gmulher-active #calcado-on {
        bottom: -23px !important;
    }

    .gmulher-active #acessorio-on {
        bottom: -22px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .calca, .camisa, .acessorio, .chapeu, .calcado {
        right: 0px;
        top: 2px;
        width: 150px;
    }

    #calca-box, #camisa-box, #chapeu-box,
    #acessorios-box, #calcado-box {
        width: 150px;
    }

    .galeria-calcado, .galeria-chapeu {
        /*bottom: 190px;*/
        left: 20px;
        top: 320px;
        bottom: unset !important;
    }

    .galeria-calcado, .galeria-chapeu, .galeria-calca,
    .galeria-acessorio {
        display: none;
    }

    .galeria-chapeu {
        /*left: 70px;*/
    }

    .galeria-acessorio, .galeria-calca,
    .galeria-camisa {
        /*bottom: 340px;*/
        top: 300px;
        left: 25px;
    }

    .galeria-calca {
        padding-left: 0px;
    }



    .galeria-acessorio {
        /*right: 20px;*/
    }

    .galeria-camisa {
        /*left: 6px;*/
    }

    .seta-esquerda, .seta-direita {
        bottom: 70px;
    }

    .seta-direita {
        right: 1px;
    }

    .seta-direita.seta-calcado,
    .seta-direita.seta-chapeu {
        bottom: 12px !important;
        right: -4px !important;
    }

    .seta-esquerda.seta-calcado,
    .seta-esquerda.seta-chapeu {
        bottom: 12px !important;
    }

    .main-char-area {
        top: 140px;
        right: 5px;
    }

    .back-save {
        display: none !important;
    }


    #tela02 .title-image {
        margin-top: 30px;
    }

    .back-save-mobile {
        position: absolute;
        bottom: 40px !important;
        left: -12px;
        text-align: center;
    }

    .select {
        bottom: 6px;
        left: 30px;
    }

    .mobile-selector {
        display: inline-block;
        /*width: 150px;*/
        cursor: pointer;
        margin-top: 5px !important;
    }

    .mobile-buttons {
        position: absolute;
        bottom: 130px;
        justify-content: center;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {


}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}

/* // X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {

}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    /* #exampleModal .modal-body {
        height: 533px;
    } */
    .title-image {
        background-size: auto;
    }

    .calca, .camisa, .acessorio,
    .chapeu, .calcado {
        right: 4px;
        top: 2px;
        width: 160px;
    }

    #calca-box, #camisa-box, #chapeu-box,
    #acessorios-box, #calcado-box {
        width: 170px;

    }

    .galeria-calcado {
        margin-left: 10px;
    }

    .back-save-mobile, .mobile-buttons {
        display: none !important;
    }

    .back-save {
        bottom: 53px;
    }

    .btn-voltar {
        margin-left: 50px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    /* #exampleModal .modal-body {
        height: 760px;
    } */
    #calca-box, #camisa-box, #acessorios-box,
    #chapeu-box, #calcado-box {
        width: 190px;
        cursor: pointer;
    }

    .calca, .camisa, .acessorio, .chapeu,
    .calcado {
        right: 0;
        top: 0;
        width: auto;
    }

    .back-save {
        bottom: 53px;
    }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {


}


/* #gamebackground {
    background-image: url(tela1/tela01_fundo-base.png);

} */